*{


	box-sizing: border-box;

	--bg1: #F5F6FB;
	--bg2: #CAEBFF;

	--white100: #F5F6FB;
	--black100: #1C1C1C;

	--primary: #4557A8;
	--secondary: #F5292A;


	border: none;
	padding: 0;
	margin: 0;


	--hero-image-url: url("../img/hero-image.jpeg");

	--services-box-1: url("../img/services 1.png");
	--services-box-2: url("../img/services 2.png");
	--services-box-3: url("../img/services 3.png");
	--services-box-4: url("../img/services 4.png");

	--choose-box-1: url("../img/choose 1.png");
	--choose-box-2: url("../img/choose 2.png");
	--choose-box-3: url("../img/choose 3.png");
	--choose-box-4: url("../img/choose 4.png");


	--property-box-1: url("../img/property 1.png");
	--property-box-2: url("../img/property 2.png");
	--property-box-3: url("../img/property 3.png");
	--property-box-4: url("../img/property 4.png");
	--property-box-5: url("../img/property 5.png");
	--property-box-6: url("../img/property 6.png");


	--commercial-box-a: url("../img/commercial_1.jpg");
	--commercial-box-b: url("../img/commercial_2.jpg");
	--commercial-box-c: url("../img/commercial_3.jpg");
	--commercial-box-d: url("../img/commercial_4.jpg");

	--res-box-e: url("../img/res1.jpg");
	--res-box-f: url("../img/res2.jpg");
	--res-box-g: url("../img/res3.jpg");
	--res-box-h: url("../img/res4.jpg");


	--listing-box-a: url("../img/listing 1.jpg");
	--listing-box-b: url("../img/listing 2.jpg");
	--listing-box-c: url("../img/listing 3.jpg");
	--listing-box-d: url("../img/listing 4.jpg");
	--listing-box-e: url("../img/listing 5.jpg");
	--listing-box-f: url("../img/listing 6.jpg");
	
	--sales-box-a: url("../img/sales 1.jpg");
	--sales-box-b: url("../img/sales 2.jpg");
	--sales-box-c: url("../img/sales 3.jpg");
	--sales-box-d: url("../img/sales 4.jpg");

	--contact-a: url("../img/c1.jpg");
	--contact-b: url("../img/c2.jpg");
	--contact-c: url("../img/c3.jpg");

	--body-font:   "Poppins", serif !important;
	--title-font:  "DM Serif Display", serif !important;
	--number-font: "Stardos Stencil", serif !important;

	--px21: 1rem;
	--px26: 1.238rem;
	--px32: 1.524rem;
	--px48: 2.286rem;
	--px56: 2.667rem;
	--px70: 3.3rem;
	--px18: 0.857rem;
	--px36: 1.714rem;

	--px64: 3.048rem;
	--px16: 0.762rem;
	--px8: 0.381rem;
	--px178: 8.476rem;
	--px294: 14rem;
	--px230: 10.952rem;
	--px4: 0.19rem;

	--px256: 12.19rem;
	--px508: 24.19rem;
	--px1008: 48rem;

	--px435: 20.714rem;
	--px412: 19.619rem;
	--px356: 16.952rem;
	--px156: 7.429rem;
	--px108: 5.143rem;
	--px100: 4.762rem;
	--px456: 21.714rem;
	--px560: 26.667rem;
	--px400: 19.048rem;
	--px408: 19.429rem;
	--px40: 1.905rem;
	--px530: 25.238rem;
	--px464: 22.095rem;





}


body {


		background-color: var(--bg1);
		padding: 0;
		margin: 0
		color: var(--black100);

}


.header-mobile {


		display: none;
		padding: 0.762rem 0;
}

button {

		padding: 0.571rem 0.762rem;
		font-size: 1rem;
		font-weight: 900;
		color: var(--white100);
		background-color: var(--secondary);
  		font-family: "Poppins", serif !important;
  		border-radius: 4%;
}

li {

		font-size: 1rem;
		font-size: 1rem;
		font-weight: 900;
		color: var(--primary);
  		font-family: "Poppins", serif !important;

}

li:hover {


		cursor: pointer;
		text-decoration: underline;
		text-decoration-color: var(--secondary);
		text-decoration-thickness: 2px;
		text-decoration-skip-ink: none;

}

a:hover, #links:hover {


		text-decoration: underline;
		text-decoration-color: var(--secondary);
		text-decoration-color: var(--primary);
		text-decoration-thickness: 1px;
		text-decoration-skip-ink: none;

}

#active {

		text-decoration: underline;
		text-decoration-color: var(--secondary);
		text-decoration-thickness: 2px;
		text-decoration-skip-ink: none;
}

ul {


 		list-style: none;
    	margin: 0;
    	padding: 0;


}


ul {

		display: flex;
		column-gap: 1.524rem;
		justify-content: space-between;
		align-items: center;

 		list-style: none;
    	margin: 0;
    	padding: 0;

}



h1 {


	font-size: var(--px70);

	font-weight: 400;
  	font-family: "DM Serif Display", serif !important;

  	color: var(--primary);

  	line-height: 1.2;

}



h2 {

	font-size: 56px;
	font-size: 2.667rem;
	
	font-weight: 900;
  	font-family: "DM Serif Display", serif !important;
  	color: var(--primary);

}



h3 {

	font-size: 48px;
	font-size: 2.286rem;
	font-weight: 600;
  	font-family: "DM Serif Display", serif !important;
  	color: var(--primary);

}


h4 {

	font-size: var(--px26);
	font-weight: 600;
  	font-family: "Poppins", serif !important;
  	text-align: center;
  	width: max-content;

}

h5 {

	font-size: var(--px21);
	font-weight: 900;
  	font-family: "Poppins", serif !important;
  	text-transform: uppercase;
  	color: var(--secondary);

}

.bold-black-21 {

	font-size: var(--px21);
	font-weight: 900;
  	font-family: "Poppins", serif !important;
  	text-transform: uppercase;
  	color: var(--black100);

}

h6 {

	font-size: 1rem;
	font-size: 1rem;

	font-weight: 400;
  	font-family: "Poppins", serif !important;

}

h7 {

	font-size: var(--px18);
	font-weight: 600;
	color: var(--white100);
	font-family: var(--body-font);
}

small {


		font-size: var(--px16);
		color: var(--black100);
		font-family: var(--body-font);

		font-weight: 300;
}


h8 {

	font-size: var(--px18);
	font-weight: 300;
	color: var(--white100);
	font-family: var(--body-font);

}

.footer-info {

	font-size: var(--px18);
	font-weight: 300;
	color: var(--black100);
	font-family: var(--body-font);

}



#footer-p-text {


	font-size: var(--px18);
	font-weight: 300;
	color: var(--black100);
	font-family: var(--body-font);

}

.footer-line {


					width: 100%;
					height: 1px;
					background-color: rgba(10, 34, 140, 0.56);
}

p {

	font-size: 1rem;
	font-size: 1rem;

	font-weight: 400;
  	font-family: "Poppins", serif !important;

}


img#circle {


		border-radius: 100px;
}

.p_large {

	/*
		font-size: var(--px32);
		text-transform: uppercase;
		font-family: var(--body-font);

	*/
		font-weight: 400;
		color: var(--primary) !important;

}

.p_large {


					font-family: var(--title-font) !important;
					font-size: var(--px48);
}


header {

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.762rem 0px;
		margin: 0;
		width: 100%;
		height: auto;
}

header[class="header-inner"] {


		padding: var(--px16) var(--px64) !important;


}



.hero {


		width: 46%;
		height: auto;
		padding: 3.048rem 0px;

		display: flex;
		flex-direction: column;
		row-gap: 1.524rem;
		justify-content: space-between;
		align-items: flex-start;
}


.hero-inner {


		width: 100%;
		height: auto;
		padding: var(--px64) 0px;

		display: flex;
		flex-direction: column;
		row-gap: var(--px64);
		justify-content: space-between;
		align-items: center;

	    background-repeat: no-repeat;
	    background-size: 100% 100%;
}




.hero-inner-p {


		width: 50%;
		font-weight: 400;
}


#bg1 {


		background-color: var(--white100) !important;
}

.button-row {

		display: flex;
		column-gap: 3.048rem;
		column-gap: 3.048rem;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
}

.button-light {


				color: var(--secondary);
				border: solid 1px var(--secondary);
				background: none !important;
}


.blue-btn {

			background-color: var(--primary);
			color: var(--white100);
			font-weight: 600;
}

.hero-header {


				display: flex;
				flex-direction: column;
				row-gap: 0px;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0px 3.048rem;
				height: auto;

				background-image: url("../img/hero-image.jpeg");
				background-size: cover;


			  background: linear-gradient(rgb(245,246,251,0.64), rgb(245,246,251,0.64)) , var(--hero-image-url) center center;
			  background-size: cover;

}


.our-numbers {


				margin: 3.048rem 6.095rem;
				background-color: var(--primary);
				border-radius: 1.524rem;
				padding: 3.048rem;

				display: flex;
				justify-content: space-around;
				align-items: center;

				height: auto;
				width: auto;




}

.number-box {


				display: flex;
				flex-direction: column;
				row-gap: 0.762rem;
				justify-content: space-between;
				align-items: center;
				height: auto;
				width: auto;

}


.number-digit {

					font-size: 1.905rem;
					font-family: var(--number-font); 
					font-weight: 900;

					display: grid;
					justify-content: center;
					align-items: center;
					width: 5.143rem;
					height: 5.143rem;
					border-radius: 4.762rem;

					background-color: var(--white100);

					color: var(--primary);



}


.number-text {


					font-size: var(--px21);
					font-family: var(--body-font); 
					color: var(--white100);
					font-weight: 900;


}


.about-us {


				padding: var(--px64) var(--px64);
				display: flex;
				width: auto;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--bg2);
}


.section-row-1 {


						display: flex;
						width: auto;
						height: auto;
						justify-content: space-between;
						column-gap: var(--px32);
						align-items: center;

}


.line-one {


					width: var(--px256);
					height: 1px;
					background-color: var(--secondary);
}

.heading {


					display: flex;
					flex-direction: column;
					row-gap: var(--px16);
					justify-content: space-between;
					align-items: center;
}

.heading-side {


					display: flex;
					flex-direction: column;
					row-gap: var(--px32);
					justify-content: center;
					align-items: flex-start;

}

.side-heading {

					width: 45% !important;
}

.heading-title {


					font-family: var(--title-font);
					font-size: var(--px48);
					color: var(--primary);
					font-weight: 400;

}


.heading-subtitle {


					font-family: var(--body-font);
					font-size: var(--px21);
					color: var(--secondary);
					font-weight: 900;
					text-transform: uppercase;

}


.about-us-row-2 {


				 width: 100%;
				 height: auto;

				 display: flex;
				 justify-content: space-between;
				 column-gap: auto;
				 align-items: center;
}

.p-texts {

					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					height: auto;
					width: 45%;
					row-gap: var(--px32);


}


.img-block-a {

					width: 50%;
					height: var(--px508);
					background-color: var(--secondary);
					border-radius: var(--px32);
					background-image: url("../img/about-us-img.jpg");
					background-size: cover;
					background-position: center;

}



.services, .box-blocks, .gallery {

				padding: var(--px64) var(--px64);
				display: flex;
				width: auto;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--bg1);

}

.gallery {

			background-color: var(--bg1);
}

.p-mid-text {


				text-align: center;
				width: var(--px1008);
				height: auto;
}

.p-box-text {


				text-align: center;
				width: 100%;
				height: auto;
}


.box-row-435 {


				width: 100%;
				height: auto;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;


}

.box-row-412 {


				width: 100%;
			    height: auto;
			    display: flex;
			    justify-content: space-between;
			    align-items: flex-start;

}

.box356 {

			   width: var(--px356);
			   height: 100%;
			   background-color: var(--secondary);

			   display: flex;
			   flex-direction: column;
			   justify-content: flex-start;
			   align-items: center;
			   row-gap: var(--px16);

			   padding: var(--px32);

			   background-color: var(--bg2);

			   border-radius: var(--px16);

}

.last_box {

			background-color: var(--primary);
			color: var(--white100);
}


#box-circle-services-156 {

					display: grid;
					justify-content: center;
					align-items: center;
					width: var(--px156);
					height: var(--px156);
					border-radius: var(--px100);

					background-color: var(--white100);
					margin-bottom: var(--px16);

					background-size: 70% 70%;
					background-repeat: no-repeat;
					background-position: center;

}


#box-circle-choose-156 {

					display: grid;
					justify-content: center;
					align-items: center;
					width: var(--px156);
					height: var(--px156);
					border-radius: var(--px100);

					background-color: none;
					margin-bottom: var(--px16);

					background-size: 70% 70%;
					background-repeat: no-repeat;
					background-position: center;

}

.box-circle-services-156a {


					background-image: var(--services-box-1);

}


.box-circle-services-156b {


					background-image: var(--services-box-2);

}

.box-circle-services-156c {


					background-image: var(--services-box-3);

}

.box-circle-services-156d {


					background-image: var(--services-box-4);
					background-color: var(--white100);

}


.box-circle-choose-156a {


					background-image: var(--choose-box-1);

}


.box-circle-choose-156b {


					background-image: var(--choose-box-2);

}

.box-circle-choose-156c {


					background-image: var(--choose-box-3);

}

.box-circle-choose-156d {


					background-image: var(--choose-box-4);

}

.property-solutions {



				padding: var(--px64) var(--px64);
				display: flex;
				width: auto;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--bg2);


}


.box456 {

			   width: var(--px456);
			   height: 100%;
			   background-color: var(--secondary);

			   display: flex;
			   flex-direction: column;
			   justify-content: flex-start;
			   align-items: center;
			   row-gap: var(--px16);

			   padding: var(--px32);

			   background-color: var(--bg1);

			   border-radius: var(--px16);

			   border: solid 1px var(--bg2);

}

.up32 {

			/* margin-top: -32px; */
			margin-top: 0;
}


#box-circle-services-156, #box-circle-property-156 {

					display: grid;
					justify-content: center;
					align-items: center;
					width: var(--px156);
					height: var(--px156);
					border-radius: var(--px100);

					background-color: var(--white100);
					margin-bottom: var(--px16);

					background-size: 70% 70%;
					background-repeat: no-repeat;
					background-position: center;

}


.box-circle-property-156a {


					background-image: var(--property-box-1);

}


.box-circle-property-156b {


					background-image: var(--property-box-2);

}

.box-circle-property-156c {


					background-image: var(--property-box-3);

}


.box-circle-property-156d {


					background-image: var(--property-box-4);

}


.box-circle-property-156e {


					background-image: var(--property-box-5);

}

.box-circle-property-156f {


					background-image: var(--property-box-6);

}


section.property-listings {

				
				padding: var(--px64) var(--px64);
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--bg2);



}


.commercial-property {


						display: flex;
						flex-direction: column;
						row-gap: var(--px16);
						align-items: center;
						justify-content: center;
						height: auto;
						width: 100%;

}


.residential-property {


						display: flex;
						flex-direction: column;
						row-gap: var(--px16);
						align-items: center;
						justify-content: center;
						height: auto;
						width: 100%;

}

.box-row-560 {


					width: 100%;
					height: var(--px560);
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 16px;
}

#box-row-560 {


				width: 45%;
				height: 100%;

				display: flex;
				align-items: flex-end;
				justify-content: center;

				row-gap: var(--px16);

				background-color: var(--secondary);
				background-position: center;
				background-size: cover;
				border-radius: var(--px16);
}

.box400a {


				background-image: var(--commercial-box-a);


}


.box400b {


				background-image: var(--commercial-box-b);


}

.box400c {


				background-image: var(--commercial-box-c);


}

.box400d {


				background-image: var(--commercial-box-d);


}




.box400e {


				background-image: var(--res-box-e);


}


.box400f {


				background-image: var(--res-box-f);


}

.box400g {


				background-image: var(--res-box-g);


}

.box400h {


				background-image: var(--res-box-h);


}


.light-blue-box {


				width: 100%;
				padding: var(--px16);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				row-gap: var(--px16);
				background-color: rgba(69, 87, 168, 0.4);
				border-bottom-right-radius: var(--px16);
				border-bottom-left-radius: var(--px16);

}

section.property-sales {


						padding: var(--px64);
					    display: flex;
					    width: auto;
					    margin: 0px var(--px156);
					    column-gap: auto;
					    margin-bottom: var(--px64);
					    justify-content: space-between;
					    align-items: center;
					    border-radius: var(--px64);
					    background-color: var(--primary);


}

.property-sales-row-2 {



				display: flex;
				width: auto;
				height: auto;
				justify-content: space-between;
				align-items: flex-start;
}

.left-text-rows {


			width: 100%;
			height: auto;

			display: flex;
			flex-direction: column;
			row-gap: var(--px64);
			align-items: center;
			justify-content: center;


}

.left-fit-h4 {

			width: 100%;
			color: var(--white100);
			font-size: var(--px26) !important;
			font-weight: 400 !important;

			text-align: left;

}

.center-fit-h4 {

			text-align: center;
			width: 100%;			
}

.left-text-row-box {

			display: flex;
			width: 100%;
			height: auto;
			column-gap: var(--px32);
			justify-content: flex-start;
			align-items: center;
			padding: var(--px16);
			border-radius: var(--px32);
			background-color: var(--bg1);

}

.three-benefits {

			color: var(--white100) !important;
}

.benefit-rows {

			display: flex;
			flex-direction: column;
			width: auto;
			height: auto;
			justify-content: space-between;
			row-gap: var(--px32);
			align-items: center;

}

.sales-box-texts {

					display: flex;
					flex-direction: column;
					row-gap: var(--px16);
					align-items: flex-start;
					justify-content: center;
					height: auto;
					width: auto;
}

.right-img-stack {


			width: 100%;
			height: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;


}

#right-img-stack {

			width: 22%;
			height: var(--px408);
			background-color: var(--secondary);
			border-radius: var(--px16);
			background-size: cover;
			background-position: center;

}

.img-sales-a {

			background-image: var(--sales-box-a);
			background-size: cover;
			background-position: center;

}

.img-sales-b {

			background-image: var(--sales-box-b);
			background-size: cover;
			background-position: center;
	
}

.img-sales-c {

			background-image: var(--sales-box-c);
			background-size: cover;
			background-position: center;
	
}

.img-sales-d {

			background-image: var(--sales-box-d);
			background-size: cover;
			background-position: center;
	
}


section.enquiry-box {


				padding: var(--px64) var(--px64);
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--bg2);


			}


.enquiry-form {


				width: 100%;
				padding: 0px var(--px178);
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				column-gap: 4%;
				row-gap: var(--px64);
				align-items: center;
				height: auto;

}

.input-text-box {

				display: flex;
				flex-direction: column;
				width: 48%;
				row-gap: var(--px8);
				height: auto;
}

.label {

		color: var(--black100);
		font-weight: 600;
}

input[type=text] {

				width: 100%;
				height: var(--px40);
				background-color: rgba(245, 246, 251, 0.32);
}

.input-textarea-box {

				width: 100%;

				display: flex;
				flex-direction: column;
				row-gap: var(--px8);
				height: auto;

}

textarea {


			width: 100%;
			height: var(--px156);
			background-color: rgba(245, 246, 251, 0.32);
			resize: none;
}


section.subscribe {


				margin: var(--px64) var(--px178);
				padding: var(--px64);
				width: auto;
				height: auto;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--primary);	
				color: var(--white100);	

				border-radius: var(--px64);	

}

#subscribe-title {

				color: var(--white100) !important;
				text-align: center;
}

.subscribe-form {


				width: 100%;
				padding: 0px var(--px230);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				height: auto;

}

#subscribe-field {

				width: 64%;
}

#subscribe {

			color: var(--white100);
			background-color: rgba(180, 180, 180, 0.16);
			width: 100%;

}

.label-subscribe {

			color: var(--white100) !important;
			font-weight: 600;
			width: 100%;
}

.subscribe-btn {

				color: var(--primary);
}


section.contact {

				padding: var(--px64) var(--px64);
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: rgba(10, 34, 140, 0.56);	
}

.contact-row-2 {

				width: 100%;
				height: auto;
				display: flex;
				justify-content: space-between;
				align-items: center;

}

.contact-img-box {

				display: flex;
				flex-direction: column;
				width: 30%;
				height: auto;
				row-gap: var(--px64);
				align-items: center;
				justify-content: space-between;


}

.contact-box {


				width: 100%;
				padding: var(--px32);
				display: flex;
				flex-direction: column;
				row-gap: var(--px32);
				height: auto;
				align-items: center;
				justify-content: space-between;
				border-radius: var(--px32);
				border: solid 1px var(--white100);
				color: var(--white100) !important;



}

#contact-img {


			height: var(--px530);
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: center;

			background-position: center;
			background-size: cover;

			border-radius: var(--px32);
}

#img-text {

			width: 100%;
			height: auto;
			padding: var(--px16) var(--px32);
			background-color: rgba(245, 246, 251, 0.64);

			font-size: var(--px21);
			font-weight: 600;
		  	font-family: "Poppins", serif !important;
		  	color: var(--primary);
		  	border-bottom-left-radius: var(--px32);
		  	border-bottom-right-radius: var(--px32);
		  	text-align: center;

}

.contact-img-a {


		background-image: var(--contact-a);
		background-position: center;
		background-size: cover;

}


.contact-img-b {

		background-image: var(--contact-b);
		background-position: center;
		background-size: cover;

}


.contact-img-c {

		background-image: var(--contact-c);
		background-position: center;
		background-size: cover;

}

section.testimonials {

				padding: var(--px64) var(--px64);
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: space-between;
				row-gap: var(--px64);
				align-items: center;
				background-color: var(--bg2);

}


.testi-title {


					color: var(--primary);
}


.testimonial-boxes {


					display: flex;
					width: 100%;
					height: auto;
					justify-content: space-between;
					align-items: center;
}


.testimonial-box {


					width: 30%;
					height: auto;
					display: flex;
					flex-direction: column;
					row-gap: var(--px16);
					padding: var(--px32) var(--px16);
					border-radius: var(--px16);

					background-color: var(--bg1);
}


.testi-text {


				font-family: var(--title-font);
				font-size: var(--px26);
				text-align: center;
				width: 100%;
				height: auto;
}


.rating {

					display: flex;
					justify-content: center;
					column-gap: var(--px8);
}


#quote {


				font-size: var(--px156);
				font-weight: 600;
				color: var(--primary);
				width: 100%;

				display: flex;
				line-height: 40px;
}

.quotes-right {



					justify-content: flex-end;
}


.client {

			width: 100%;
			height: auto;

			display: flex;
			align-items: center;
			justify-content: space-between;
}


.client-details {

					width: auto;
					height: auto;
					display: flex;
					flex-direction: column;
					row-gap: var(--px8);
					align-items: flex-start;
					color: var(--black100) !important;
}


section.footer {


							display: flex;
							flex-direction: column;
							justify-content: space-between;
							row-gap: var(--px32);
							padding: var(--px64) var(--px64) var(--px16) var(--px64);
							align-items: center;

}

.footer-top {


					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					column-gap: var(--px156);
					width: 100%;

}

.ft-column {


			display: flex;
			flex-direction: column;
			row-gap: var(--px32);
			justify-content: space-between;
			align-items: flex-start;

			width: 16.5%;
}


.links {

			display: flex;
			flex-direction: column;
			row-gap: var(--px16);
			justify-content: space-between;
			align-items: flex-start;

}

#links {

	color: var(--black100);
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	column-gap: var(--px16);
	text-decoration: none;
	font-size: var(--px18);
	font-weight: 300;
	color: var(--black100);
	font-family: var(--body-font);

}

#pop {


	color: var(--black100);
	text-decoration: none;
}


.addr {


		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		row-gap: var(--px4);
		justify-content: flex-start;
		align-items: flex-start;
}


#property-page {

		background: linear-gradient(rgb(245,246,251,0.64), rgb(245,246,251,0.64)) , url("../img/sales 2.jpg") center;
		background-repeat: no-repeat;
		background-size: 100% 100%;


}

/* services page css */


.our-services {


			padding: var(--px64);
			display: flex;
			flex-direction: column;
			row-gap: var(--px64);
}

#services-page-image {

			height: var(--px464);
			width: 45%;
			background-size: cover;
			background-position: center;
}

.services-page-image1 {


				background-image: url("../img/our-services1.jpg");

}


.services-page-image2 {


				background-image: url("../img/our-services2.jpg");

}
.services-page-image3 {


				background-image: url("../img/our-services3.jpg");

}
.services-page-image4 {


				background-image: url("../img/our-services4.jpg");

}
.services-page-image5 {


				background-image: url("../img/our-services5.jpg");

}





.services-left {


			display: flex;
			flex-direction: column;
			row-gap: var(--px64);

			width: 45%;
}

.services-title {


			font-family: var(--title-font);
			font-weight: 400;
			font-size: var(--px36);

}


.services-page-subtitle {


			font-size: var(--px21);
			font-family: var(--body-font);
			font-weight: 600;

			width: 100%;
			color: var(--black100);

			text-align: left;


}



#services-page {

		background: linear-gradient(rgb(245,246,251,0.64), rgb(245,246,251,0.64)) , url("../img/our-services.jpeg") center;

		background-repeat: no-repeat;
		background-size: 100% 100%;	
}


.services-page-text-rows {


			width: 100%;
			height: auto;

			display: flex;
			flex-direction: column;
			row-gap: var(--px32);
			align-items: flex-start;
			justify-content: flex-start;


}

.services-page-row-box {

			display: flex;
			width: 100%;
			height: auto;
			column-gap: var(--px32);
			justify-content: flex-start;
			align-items: center;


}


.service-page-box-texts {

					display: flex;
					flex-direction: column;
					row-gap: var(--px8);
					align-items: flex-start;
					justify-content: center;
					height: auto;
					width: auto;
}


#services-page-row {



				display: flex;
				width: 100%;
				height: auto;
				justify-content: space-between;
				align-items: flex-start;
				border-radius: var(--px16);
				border: solid 1px var(--bg2);
				padding: var(--px32);

}

.services-page-odd {


				flex-direction: row;


}

.services-page-even {


				flex-direction: row-reverse;
}


/* media query for mobile */

@media (min-width: 320px) and (max-width: 480px) {



	
		button {


				font-size: var(--px18);
		}


		nav ul li {

				font-size: var(--px18);


		}


			section.hero {


						width: 100%;
						padding: var(--px32) 0px;

			}



				p {

					font-size: 0.857rem;


				}

				.hero-header {

					padding: 0px 1.524rem;


				}



				section.hero h1 {

					width: 100%;
					font-size: 2.667rem;
					text-align: center;
					/* --px48: 2.286rem */
					/* --px56: 2.667rem */

				}


				header {


						display: none;
				}

				.header-mobile {


						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						height: auto;

				}


}