*{


	--bg1: #F5F6FB;
	--bg2: #CAEBFF;

	--white100: #F5F6FB;
	--black100: #1C1C1C;

	--primary: #4557A8;
	--secondary: #F5292A;


	border: none;
	padding: 0;
	margin: 0;


	--hero-image-url: url("../img/hero-image.jpeg");

}


body {


		background-color: var(--bg1);
		padding: 0;
		margin: 0

}

button {

		padding: 0.571rem 0.762rem;
		font-size: 1rem;
		font-weight: 900;
		color: var(--white100);
		background-color: var(--secondary);
  		font-family: "Poppins", serif !important;
  		border-radius: 4%;
}

li {

		font-size: 21px;
		font-size: 1rem;
		font-weight: 900;
		color: var(--primary);
  		font-family: "Poppins", serif;

}

ul {


 		list-style: none;
    	margin: 0;
    	padding: 0;


}


ul {

		display: flex;
		column-gap: 1.524rem;
		justify-content: space-between;
		align-items: center;

 		list-style: none;
    	margin: 0;
    	padding: 0;

}



h1 {


	font-size: 70px;
	font-size: 3.3rem;

	font-weight: 400;
  	font-family: "DM Serif Display", serif;

  	color: var(--primary);

  	line-height: 1.2;

}



h2 {

	font-size: 56px;
	font-size: 2.667rem;
	
	font-weight: 900;
  	font-family: "DM Serif Display", serif;
  	color: var(--primary);

}



h3 {

	font-size: 48px;
	font-size: 2.286rem;
	font-weight: 600;
  	font-family: "DM Serif Display", serif;
  	color: var(--primary);

}


h4 {

	font-size: 26px;
	font-size: 1.238rem;
	font-weight: 900;
  	font-family: "Poppins", serif;
  	text-transform: uppercase;

}

h5 {

	font-size: 21px;
	font-size: 1rem;
	font-weight: 900;
  	font-family: "Poppins", serif;
  	text-transform: uppercase;
  	color: var(--secondary);

}

h6 {

	font-size: 21px;
	font-size: 1rem;

	font-weight: 400;
  	font-family: "Poppins", serif;

}

p {

	font-size: 21px;
	font-size: 1rem;

	font-weight: 400;
  	font-family: "Poppins", serif;

}

header {

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.762rem 0px;
		margin: 0;
		width: 100%;
		height: auto;
}



.hero {


		width: 46%;
		height: auto;
		padding: 3.048rem 0px;

		display: flex;
		flex-direction: column;
		row-gap: 1.524rem;
		justify-content: space-between;
		align-items: flex-start;
}


.button-row {

		display: flex;
		column-gap: 3.048rem;
		column-gap: 3.048rem;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
}

.button-light {


}


.hero-header {


				display: flex;
				flex-direction: column;
				row-gap: 0px;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0px 3.048rem;
				height: auto;

				background-image: url("../img/hero-image.jpeg");
				background-size: cover;


			  background: linear-gradient(rgb(245,246,251,0.64), rgb(245,246,251,0.64)) , var(--hero-image-url) center center;
			  background-size: cover;

}